body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../imagenes/fondo.jpeg'); /* Cambia 'background.jpg' por la ruta correcta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
}
.header {
    background-color: #E0AA3E;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header img {
    margin-left: auto;
    width: 100px;
    height: auto;
    filter: drop-shadow(1px 1px 1px #000000);
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 50px;
    flex-direction: column;
}
.container-button {
    background-color: #EDC967;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80%; /* Ajusta el ancho del botón para dispositivos móviles */
}
.container-button:hover {
    background-color: #B88A44;
}
.icon-tabler {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Agrega margen derecho al icono */
}

.level-text {
    font-family: 'Montserrat', sans-serif;
}

.container-button{
    font-family: 'Playfair Display', serif;
}


.footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer img {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    margin-top: 10px; /* Agrega un poco de espacio encima de la imagen */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .footer img {
        max-width: 80px; /* Reduce el tamaño de la imagen para dispositivos móviles */
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .microphone-active {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  #textArea {
    display: none;
  }